<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <!-- All stylesheets -->
    <link rel="stylesheet" href="../static/style.css">


    <meta charset="utf-8">
    <title>Forecast</title>
  </head>
  <body>
      <div class="card-input">
            <h3>{{city}}</h3>

            <p>{{summary}}</p>

            <canvas id="icon1" width="128" height="128"></canvas>

            <p>{{"%.2f" % temperature}}°F</p>

            <p>{{"%.2f" % ((temperature - 32) / 1.8)}}°C</p>

            <p id="signature">by Egor Ivanov</p>

      </div>
  </body>
  <script src="../static/skycons.js">
    console.log("Hello it's me Mario");
    var icons = new Skycons({"color": "white"});
    icons.set("icon1", Skycons.CLEAR_DAY);
    icons.play();
  </script>
</html>
