<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <!-- All stylesheets -->
    <link rel="stylesheet" href="../static/style.css">

    <meta charset="utf-8">
    <title>WeatherApp</title>
  </head>
  <body>
      <div class="card-input">
          <h3>Enter City</h3>
          <div>
            <form action="forecast" method="get">
              <input class="line-input" type="text" name="city_input">
              <input class="btn" type="submit" value="Enter">
            </form>
          </div>
          <p id="signature">by Egor Ivanov</p>
     </div>
  </body>
</html>
